/* html {
	background-image: url("tile.webp");
} */

body {
	background-color: #191a1a;
	color: #e5d09a;
	font-family: nimbus roman, serif;
	padding: 20px;
	margin: auto;
	margin-top: 20px;	
	border: 2px solid rgb(251, 74, 75);
	width: 89%;
	max-width: 900px;
	text-align: left;
}

::selection {
    background: #ffa86a;
    color: #000;
}

.warning {
	padding: 5px;
	display: block;
	background: orange;
	color: black;
	border: 2px solid black;
	border-style: dotted;
}
.warning a {
	color: blue;
}

.date {
	text-align: center;
	font-size: 18px;
}

a {
	color: rgb(251, 74, 75);
	text-decoration: none;
}

a:hover {
	color: #f88888;
}

img {
	float: center;
	display: block;
	margin: auto;
}

h1 {
	color: rgb(251, 74, 75); 
	font-size: 55px;
	text-align: center;
	line-height: 90%;
}
h2 {
	color: rgb(251, 74, 75); 
}

p, li {
	max-width: 95%;
	margin-left: auto;
	margin-right: auto;
}

hr {
	margin: 0px;
}

.icon {
	float: left;
	height: 35px;
	margin-right: 10px;
}

.b-icon {
	margin: auto;
	display: inline-block;
	text-align: center;
	height: 35px;
}

.pane-right {
	display: inline-block;
	float: right;
	width: 49%;
}

.pane-left {
	display: inline-block;
	float: left;
	margin: auto;
	width: 49%;
}

.pane-left li {
	margin: 10px 0px 10px 0px;
}

.pane-right li {
	margin-left: 0px;
}

.michael-ascii {
	font-size: 15px;
	padding: 0px; 
	margin-bottom: 20px; 
	margin-top: 20px; 
	text-align: center; 
	color:rgb(251, 74, 75);
}

@media only screen and (max-width: 768px) {
.pane-right {
width: 100%;
}
.pane-left {
	width: 100%;
}

.michael-ascii {
	font-size: 11px;
	padding: 0px; 
	margin-bottom: 20px; 
	margin-top: 20px; 
	text-align: center; 
	color:rgb(251, 74, 75);
}

}

.clear:after {
	content: "";
	display: table;
	clear: both;
}

.cutter {
	padding: 10px;
	border-radius: 10px;
	background: #25262d;
	border: 1px solid rgb(251, 74, 75);
	overflow: hidden;
	font-family: monospace;
    font-size: 14px;
	white-space: nowrap;
	display: inline-block;
	max-width: 80%;
	margin: 0px 0px 0px 0px;
}

nav {
	top: 0;
	text-align: center;
	padding-bottom: 1em;
}

.nav-item {
	color: #e5d09a; 
	text-decoration: underline;
}

.nav-item:hover{
	background-color: rgb(251, 74, 75);
	color: #191a1a;
}



